@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.calculator {
    color: red;
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

body {
    overflow-y: scroll;
    * {
        font-family: "Open Sans", sans-serif !important;
    }
}
